doctype html
html
	head
		meta(charset="utf-8")
		title Conciertos discográfica
	body
		h1 Conciertos discográfica
		if conciertos
			select
				each concierto in conciertos
					option(value=concierto.id)= concierto.nombre