doctype html
html
	head
		meta(charset="utf-8")
		title Conciertos
	body
		if registros
			each registro in registros
				h2 #{registro.nombre}
				p #{registro.descripcion}
				p #{registro.fecha_publicacion}