doctype html
html
	head
		meta(charset="utf-8")
		title Discografia Salus
		link(rel="stylesheet" type="text/css" href="/stylesheets/style1.css")
	body
		h1 Discografica Salus
		div(id="menu" class="estilos")
			ul(id="menu")
				li(class="nivel1")
					a(href="/artistas") Artista
				li(class="nivel1")
					a(href="/discos") Albumes						
				li(class="nivel1")
					a(href="/conciertos") Conciertos